@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.cricket-top-section {
    background-color: #fb4e71;
    padding: 18px;
}

.cricketer-name {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 30px;
    font-weight: bold;
}

.cricket-description {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 16px;
}

.cricketer-bottom-section {
    background-color: #e6f6ff;
    height: 500;
    padding: 15px;
}

.cricketer-heading {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
}

.ipl.record-card {
    background-color: #ffffff;
    border-radius: 15px;
    margin: 5px;
}

.ipl-record-text-container {
    padding: 10px;
}

.ipl-record-card-heading {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 500;
}

.ipl-record-card-decription {
    color: #888888;
    font-family: "Roboto";
    font-size: 15px;
}

.cricketer-video-container {
    width: 100px;
    margin: 6px;
}

.cricketer-video-description {
    font-family: "Roboto";
    font-family: 15px;
}